{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "printWidth": 300
}
