.management-main {
    background: url(~/assets/images/background/surface_duo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
}

.management-container {
    padding: 12px 32px 22px 32px;
    margin-top: 22px;
}

/*.bg-table {*/
/*    background: rgba(255, 255, 255, 0.4) !important;*/
/*}*/


@media only screen and (max-width: 600px) {
    .management-container {
        padding: 12px 8px 22px 8px;
    }
}
  