.account_main {
    background: url(~/assets/images/background/cucamonga.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
}

.your_account {
    /*background: linear-gradient(0deg, rgba(26, 188, 250, .3), rgba(28, 125, 243, .1));*/
    background: rgba(245, 245, 247, .85) !important;
}

.user_image {
    border-radius: 50%;
    aspect-ratio: 1;
}

.user_rounded {
    backdrop-filter: blur(15px) saturate(86%) !important;
    background-color: rgba(255, 255, 255);
    margin: 0 12px 0 12px;
    border-radius: 32px;
    min-height: 500px;
    padding: 22px 32px !important;
    background: radial-gradient(circle at 100% 0, hsla(0, 0%, 100%, .85) 0, hsla(0, 0%, 96.1%, .13) 183%);
}

.status_box {
    background: rgba(255, 255, 255, .0);
    border-radius: 22px !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 26px;
    font-weight: 400;
}

h4 {
    font-size: 22px;
    font-weight: 300;
}



