.credit_container {
    margin: 0 auto;
    padding: 40px 20px !important;
    border-radius: 32px;
    vertical-align: middle;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 px 6 px 12 px - 2 px, rgba(0, 0, 0, 0.3) 0 px 3 px 7 px - 3 px;*/
    /*background: linear-gradient(to bottom right, rgba(171, 206, 139, 0.71), #d6dec2);*/
    background: white;
    --tile-background-color: unset;
    /*max-width: 1256px;*/

}

.contact_card_box {
    background: white;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px !important;
    border-radius: 22px !important;
}

.no-opacity {
    opacity: 1 !important;
}

.profile_img_container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin: auto;

}

.profile_img {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
}

.profile_img_left {
    max-width: 120px;
}

.profile_text {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}

.profile_contact {
    font-size: small;
}

@media only screen and (max-width: 960px) {
    .credit_container {
        border-radius: 10px;
        margin: 5px 5px 20px 5px !important;
        padding: 25px 0 5px 0 !important;
    }

    .profile_row_card {
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
    }

    .profile_img_left {
        min-width: 15vh;
        height: 80px;
    }

    .profile_contact_container {
        width: 50%;
    }

    .profile_contact {
        font-size: large;
    }

    .profile_text {
        font-size: 16px;
        text-wrap: normal;
    }

    .profile_contact {
        font-weight: 200;
        font-size: medium;
    }

    .profile_img {
        height: 86% !important;
        width: 86% !important;
    }
}