.dashboard_main {
    background: url(~/assets/images/background/minimal1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
}

.dashboard_container {
    background: rgba(245, 245, 247, .8) !important;
}

