
.feature_header {
    font-size: 42px;
    margin-top: 32px;
    margin-left: 2px;
}

.feature_flex {
    /*max-width: 1280px;*/
    margin: 10px 0;
}

.blue-text {
    color: #377df7;
}

.feature_container {
    background-color: rgba(0, 0, 0, 0);
    min-height: 70vh;
    max-width: 1320px !important;
    justify-content: center;
    margin: 32px auto;
}

.feature_rounded {
    background-color: rgba(255, 255, 255);
    margin: 12px 12px 0 12px;
    padding: 0 2px 0 2px;
    border-radius: 32px;
    /*min-height: 100 vh;*/
    /*border: 1 px black solid;*/
    background-color: white;
    /*min-width: 40 vw;*/
    min-height: 500px;
}

.title_header {
    padding: 30px 35px 12px 35px;
}

.title_body {
    padding: 30px 35px 30px 35px;
}

.inner_text {
    font-size: 16px;
    padding-top: 5px;
    /*text-align: justify;*/
}

.map_img {
    margin: 0 0;
    background-size: cover;
    top: 0;
}

.icon_img {
    margin: 0 10%;
    height: 100px;
}

.icon_text {
    margin: 0 15px 0 3%;
    font-size: 42px;
    z-index: 1;
    line-height: 130%;
}

.pin_location_body {
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.row_two_container {
    /*background: linear-gradient(135deg, rgba(26, 131, 144, 0.1), rgba(109, 255, 232, 0.4));*/
    /*background: #D2F4FE;*/
    /*margin: 0 12px;*/
    margin-top: 22px;
    padding: 22px 32px 20px 32px;
}

.report_macbook {
    margin: 16px 0;
}

.report_text {
    padding: 22px;
}

.report_header {
    font-size: 42px;
    font-weight: 700;
}

.report_body {
    font-size: 16px;
    font-weight: 400;
    margin-top: -22px;
}

@media only screen and (max-width: 600px) {
    .pin_location_body {
        flex-direction: row-reverse;
    }

    .feature_header {
        font-size: 32px;
        padding-left: 8px !important;
    }


}