/*Value	    Common weight name*/
/*100	    Thin (Hairline)*/
/*200	    Extra Light (Ultra Light)*/
/*300	    Light*/
/*400	    Normal (Regular)*/
/*500	    Medium*/
/*600	    Semi Bold (Demi Bold)*/
/*700	    Bold*/
/*800	    Extra Bold (Ultra Bold)*/
/*900	    Black (Heavy)*/
/*950	    Extra Black (Ultra Black)*/

/*----------------------------------Sarabun--------------*/
/*@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/
/*100 - Thin*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-thin-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-thin-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-thinitalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-thinitalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/*200 - ExtraLight*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-extralight-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-extralight-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-extralightitalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-extralightitalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

/*300 - Light*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-light-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-light-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-lightitalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-lightitalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

/*400 - Normal (Regular)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-regular-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-regular-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-italic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-italic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/*500 - Medium*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-medium-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-medium-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-mediumitalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-mediumitalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

/*600 - Semi Bold (Demi Lovato Bold)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-semibold-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-semibold-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-semibolditalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-semibolditalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

/*700 - Bold*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-bold-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-bold-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-bolditalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-bolditalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

/*800 - Extra Bold (Ultra Bold)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-extrabold-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-extrabold-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(/fonts/Sarabun/sarabun-extrabolditalic-webfont.woff2) format("woff2"),
    url(/fonts/Sarabun/sarabun-extrabolditalic-webfont.woff) format("woff"),
    url(/fonts/Sarabun/sarabun-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

/*----------------------------------TH Sarabun New--------------*/

/*400 - Normal (Regular)*/
@font-face {
    font-family: "TH Sarabun New";
    src: local("TH Sarabun New"),
    url(/fonts/THSarabunNew/thsarabunnew-webfont.woff2) format("woff2"),
    url(/fonts/THSarabunNew/thsarabunnew-webfont.woff) format("woff"),
    url(/fonts/THSarabunNew/thsarabunnew-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TH Sarabun New";
    src: local("TH Sarabun New"),
    url(/fonts/THSarabunNew/thsarabunnewitalic-webfont.woff2) format("woff2"),
    url(/fonts/THSarabunNew/thsarabunnewitalic-webfont.woff) format("woff"),
    url(/fonts/THSarabunNew/thsarabunnewitalic-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/*700 - Bold*/
@font-face {
    font-family: "TH Sarabun New";
    src: local("TH Sarabun New"),
    url(/fonts/THSarabunNew/thsarabunnewbold-webfont.woff2) format("woff2"),
    url(/fonts/THSarabunNew/thsarabunnewbold-webfont.woff) format("woff"),
    url(/fonts/THSarabunNew/thsarabunnewbold-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TH Sarabun New";
    src: local("TH Sarabun New"),
    url(/fonts/THSarabunNew/thsarabunnewbolditalic-webfont.woff2) format("woff2"),
    url(/fonts/THSarabunNew/thsarabunnewbolditalic-webfont.woff) format("woff"),
    url(/fonts/THSarabunNew/thsarabunnewbolditalic-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}
