/*100 - Thin*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/*200 - ExtraLight*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

/*300 - Light*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

/*400 - Normal (Regular)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

/*500 - Medium*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

/*600 - Semi Bold (Demi Lovato Bold)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

/*700 - Bold*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

/*800 - Extra Bold (Ultra Bold)*/
@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Sarabun";
    src: local("Sarabun"),
    url(../fonts/Sarabun-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}