@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.blur-effect {
    background: rgba(245, 245, 247, .72);
    backdrop-filter: blur(20px) saturate(1.8);
    -webkit-backdrop-filter: blur(20px) saturate(180px);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --colornav-backdrop-filter-opacity: 1;
    --colornav-bg-alpha: 0.8;
    opacity: 1;
}

.blue_button {
    background-color: #0373DE !important;
    /*font-size: medium !important;*/
    font-weight: bold;
    border-radius: 12px;
    /*box-shadow: none !important;*/
    /*text-transform: none;*/
}