
.first-box {
    background-color: transparent;
    height: calc(100vh - 150px + 64px);
    padding-top: 20vh;
}


.feature {
    background-color: #f5f5f7;
    margin-bottom: 32px;
}

@media screen and (max-width: 430px) {
    .text-h2 {
        font-size: 70px !important;
    }
}