
.first-box {
    background-color: transparent;
    height: calc(100vh - 150px + 64px);
    padding-top: 20vh;
}

.location_container {
    background: rgba(255, 255, 255, .90);
    border-radius: 22px !important;

}