.report_main {
    background: url(~/assets/images/background/Wallpaper.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
}

.account_container {
    background: rgba(245, 245, 247, .8);
}