
.reservation_main {
    background: url(~/assets/images/background/SurfaceLaptop3_Blue.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
    /*min-width: 100vw;*/
}

/*.main_container {*/
/*    border-radius: 22px;*/
/*}*/
