.blur-effect {
    background: rgba(245, 245, 247, .72) !important;
    backdrop-filter: blur(20px) saturate(1.8);
    -webkit-backdrop-filter: blur(20px) saturate(85px);
    -webkit-backdrop-filter: blur(20px) saturate(85px);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backdrop-filter: blur(20px) saturate(1.8);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}