.nav_bar {
    background: rgba(255, 255, 255, 0.95) !important;

}

.form_container {
    background-color: rgba(0, 0, 0, 0);
}

.account_pane {
    background: rgba(255, 255, 255, .90) !important;
    width: 65vw;
    margin: auto;
    border-radius: 20px !important;

}


.cancel_button {
    /*background: transparent;*/
    margin: 2px auto;
    width: 120px;
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 1280px) {
    .account_pane {
        background: rgba(242, 241, 244, 0.95) !important;
        border-radius: 0 !important;
    }
}
