


.form_container {
    background-color: rgba(0, 0, 0, 0);
}

.account_pane {
    background: rgba(255, 255, 255, .86) !important;
    width: 65vw;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .account_pane {
        background: rgba(242, 241, 244, 0.95) !important;

    }
}
